html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #ff10f0;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

.wrapper {
  position: fixed;
  width: "100vw";
  left: 0;
  top: 0;
}

#title span {
  background: -webkit-linear-gradient(#ff10f0, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px #ff10f0, 324px 42px #ff10f0, 303px 586px #ff10f0,
    1312px 276px #ff10f0, 451px 625px #ff10f0, 521px 1931px #ff10f0,
    1087px 1871px #ff10f0, 36px 1546px #ff10f0, 132px 934px #ff10f0,
    1698px 901px #ff10f0, 1418px 664px #ff10f0, 1448px 1157px #ff10f0,
    1084px 232px #ff10f0, 347px 1776px #ff10f0, 1722px 243px #ff10f0,
    1629px 835px #ff10f0, 479px 969px #ff10f0, 1231px 960px #ff10f0,
    586px 384px #ff10f0, 164px 527px #ff10f0, 8px 646px #ff10f0,
    1150px 1126px #ff10f0, 665px 1357px #ff10f0, 1556px 1982px #ff10f0,
    1260px 1961px #ff10f0, 1675px 1741px #ff10f0, 1843px 1514px #ff10f0,
    718px 1628px #ff10f0, 242px 1343px #ff10f0, 1497px 1880px #ff10f0,
    1364px 230px #ff10f0, 1739px 1302px #ff10f0, 636px 959px #ff10f0,
    304px 686px #ff10f0, 614px 751px #ff10f0, 1935px 816px #ff10f0,
    1428px 60px #ff10f0, 355px 335px #ff10f0, 1594px 158px #ff10f0,
    90px 60px #ff10f0, 1553px 162px #ff10f0, 1239px 1825px #ff10f0,
    1945px 587px #ff10f0, 749px 1785px #ff10f0, 1987px 1172px #ff10f0,
    1301px 1237px #ff10f0, 1039px 342px #ff10f0, 1585px 1481px #ff10f0,
    995px 1048px #ff10f0, 524px 932px #ff10f0, 214px 413px #ff10f0,
    1701px 1300px #ff10f0, 1037px 1613px #ff10f0, 1871px 996px #ff10f0,
    1360px 1635px #ff10f0, 1110px 1313px #ff10f0, 412px 1783px #ff10f0,
    1949px 177px #ff10f0, 903px 1854px #ff10f0, 700px 1936px #ff10f0,
    378px 125px #ff10f0, 308px 834px #ff10f0, 1118px 962px #ff10f0,
    1350px 1929px #ff10f0, 781px 1811px #ff10f0, 561px 137px #ff10f0,
    757px 1148px #ff10f0, 1670px 1979px #ff10f0, 343px 739px #ff10f0,
    945px 795px #ff10f0, 576px 1903px #ff10f0, 1078px 1436px #ff10f0,
    1583px 450px #ff10f0, 1366px 474px #ff10f0, 297px 1873px #ff10f0,
    192px 162px #ff10f0, 1624px 1633px #ff10f0, 59px 453px #ff10f0,
    82px 1872px #ff10f0, 1933px 498px #ff10f0, 1966px 1974px #ff10f0,
    1975px 1688px #ff10f0, 779px 314px #ff10f0, 1858px 1543px #ff10f0,
    73px 1507px #ff10f0, 1693px 975px #ff10f0, 1683px 108px #ff10f0,
    1768px 1654px #ff10f0, 654px 14px #ff10f0, 494px 171px #ff10f0,
    1689px 1895px #ff10f0, 1660px 263px #ff10f0, 1031px 903px #ff10f0,
    1203px 1393px #ff10f0, 1333px 1421px #ff10f0, 1113px 41px #ff10f0,
    1206px 1645px #ff10f0, 1325px 1635px #ff10f0, 142px 388px #ff10f0,
    572px 215px #ff10f0, 1535px 296px #ff10f0, 1419px 407px #ff10f0,
    1379px 1003px #ff10f0, 329px 469px #ff10f0, 1791px 1652px #ff10f0,
    935px 1802px #ff10f0, 1330px 1820px #ff10f0, 421px 1933px #ff10f0,
    828px 365px #ff10f0, 275px 316px #ff10f0, 707px 960px #ff10f0,
    1605px 1554px #ff10f0, 625px 58px #ff10f0, 717px 1697px #ff10f0,
    1669px 246px #ff10f0, 1925px 322px #ff10f0, 1154px 1803px #ff10f0,
    1929px 295px #ff10f0, 1248px 240px #ff10f0, 1045px 1755px #ff10f0,
    166px 942px #ff10f0, 1888px 1773px #ff10f0, 678px 1963px #ff10f0,
    1370px 569px #ff10f0, 1974px 1400px #ff10f0, 1786px 460px #ff10f0,
    51px 307px #ff10f0, 784px 1400px #ff10f0, 730px 1258px #ff10f0,
    1712px 393px #ff10f0, 416px 170px #ff10f0, 1797px 1932px #ff10f0,
    572px 219px #ff10f0, 1557px 1856px #ff10f0, 218px 8px #ff10f0,
    348px 1334px #ff10f0, 469px 413px #ff10f0, 385px 1738px #ff10f0,
    1357px 1818px #ff10f0, 240px 942px #ff10f0, 248px 1847px #ff10f0,
    1535px 806px #ff10f0, 236px 1514px #ff10f0, 1429px 1556px #ff10f0,
    73px 1633px #ff10f0, 1398px 1121px #ff10f0, 671px 1301px #ff10f0,
    1404px 1663px #ff10f0, 740px 1018px #ff10f0, 1600px 377px #ff10f0,
    785px 514px #ff10f0, 112px 1084px #ff10f0, 1915px 1887px #ff10f0,
    1463px 1848px #ff10f0, 687px 1115px #ff10f0, 1268px 1768px #ff10f0,
    1729px 1425px #ff10f0, 1284px 1022px #ff10f0, 801px 974px #ff10f0,
    1975px 1317px #ff10f0, 1354px 834px #ff10f0, 1446px 1484px #ff10f0,
    1283px 1786px #ff10f0, 11px 523px #ff10f0, 1842px 236px #ff10f0,
    1355px 654px #ff10f0, 429px 7px #ff10f0, 1033px 1128px #ff10f0,
    157px 297px #ff10f0, 545px 635px #ff10f0, 52px 1080px #ff10f0,
    827px 1520px #ff10f0, 1121px 490px #ff10f0, 9px 309px #ff10f0,
    1744px 1586px #ff10f0, 1014px 417px #ff10f0, 1534px 524px #ff10f0,
    958px 552px #ff10f0, 1403px 1496px #ff10f0, 387px 703px #ff10f0,
    1522px 548px #ff10f0, 1355px 282px #ff10f0, 1532px 601px #ff10f0,
    1838px 790px #ff10f0, 290px 259px #ff10f0, 295px 598px #ff10f0,
    1601px 539px #ff10f0, 1561px 1272px #ff10f0, 34px 1922px #ff10f0,
    1024px 543px #ff10f0, 467px 369px #ff10f0, 722px 333px #ff10f0,
    1976px 1255px #ff10f0, 766px 983px #ff10f0, 1582px 1285px #ff10f0,
    12px 512px #ff10f0, 617px 1410px #ff10f0, 682px 577px #ff10f0,
    1334px 1438px #ff10f0, 439px 327px #ff10f0, 1617px 1661px #ff10f0,
    673px 129px #ff10f0, 794px 941px #ff10f0, 1386px 1902px #ff10f0,
    37px 1353px #ff10f0, 1467px 1353px #ff10f0, 416px 18px #ff10f0,
    187px 344px #ff10f0, 200px 1898px #ff10f0, 1491px 1619px #ff10f0,
    811px 347px #ff10f0, 924px 1827px #ff10f0, 945px 217px #ff10f0,
    1735px 1228px #ff10f0, 379px 1890px #ff10f0, 79px 761px #ff10f0,
    825px 1837px #ff10f0, 1980px 1558px #ff10f0, 1308px 1573px #ff10f0,
    1488px 1726px #ff10f0, 382px 1208px #ff10f0, 522px 595px #ff10f0,
    1277px 1898px #ff10f0, 354px 552px #ff10f0, 161px 1784px #ff10f0,
    614px 251px #ff10f0, 526px 1576px #ff10f0, 17px 212px #ff10f0,
    179px 996px #ff10f0, 467px 1208px #ff10f0, 1944px 1838px #ff10f0,
    1140px 1093px #ff10f0, 858px 1007px #ff10f0, 200px 1064px #ff10f0,
    423px 1964px #ff10f0, 1945px 439px #ff10f0, 1377px 689px #ff10f0,
    1120px 1437px #ff10f0, 1876px 668px #ff10f0, 907px 1324px #ff10f0,
    343px 1976px #ff10f0, 1816px 1501px #ff10f0, 1849px 177px #ff10f0,
    647px 91px #ff10f0, 1984px 1012px #ff10f0, 1336px 1300px #ff10f0,
    128px 648px #ff10f0, 305px 1060px #ff10f0, 1324px 826px #ff10f0,
    1263px 1314px #ff10f0, 1801px 629px #ff10f0, 1614px 1555px #ff10f0,
    1634px 90px #ff10f0, 1603px 452px #ff10f0, 891px 1984px #ff10f0,
    1556px 1906px #ff10f0, 121px 68px #ff10f0, 1676px 1714px #ff10f0,
    516px 936px #ff10f0, 1947px 1492px #ff10f0, 1455px 1519px #ff10f0,
    45px 602px #ff10f0, 205px 1039px #ff10f0, 793px 172px #ff10f0,
    1562px 1739px #ff10f0, 1056px 110px #ff10f0, 1512px 379px #ff10f0,
    1795px 1621px #ff10f0, 1848px 607px #ff10f0, 262px 1719px #ff10f0,
    477px 991px #ff10f0, 483px 883px #ff10f0, 1239px 1197px #ff10f0,
    1496px 647px #ff10f0, 1649px 25px #ff10f0, 1491px 1946px #ff10f0,
    119px 996px #ff10f0, 179px 1472px #ff10f0, 1341px 808px #ff10f0,
    1565px 1700px #ff10f0, 407px 1544px #ff10f0, 1754px 357px #ff10f0,
    1288px 981px #ff10f0, 902px 1997px #ff10f0, 1755px 1668px #ff10f0,
    186px 877px #ff10f0, 1202px 1882px #ff10f0, 461px 1213px #ff10f0,
    1400px 748px #ff10f0, 1969px 1899px #ff10f0, 809px 522px #ff10f0,
    514px 1219px #ff10f0, 374px 275px #ff10f0, 938px 1973px #ff10f0,
    357px 552px #ff10f0, 144px 1722px #ff10f0, 1572px 912px #ff10f0,
    402px 1858px #ff10f0, 1544px 1195px #ff10f0, 667px 1257px #ff10f0,
    727px 1496px #ff10f0, 993px 232px #ff10f0, 1772px 313px #ff10f0,
    1040px 1590px #ff10f0, 1204px 1973px #ff10f0, 1268px 79px #ff10f0,
    1555px 1048px #ff10f0, 986px 1707px #ff10f0, 978px 1710px #ff10f0,
    713px 360px #ff10f0, 407px 863px #ff10f0, 461px 736px #ff10f0,
    284px 1608px #ff10f0, 103px 430px #ff10f0, 1283px 1319px #ff10f0,
    977px 1186px #ff10f0, 1966px 1516px #ff10f0, 1287px 1129px #ff10f0,
    70px 1098px #ff10f0, 1189px 889px #ff10f0, 1126px 1734px #ff10f0,
    309px 1292px #ff10f0, 879px 764px #ff10f0, 65px 473px #ff10f0,
    1003px 1959px #ff10f0, 658px 791px #ff10f0, 402px 1576px #ff10f0,
    35px 622px #ff10f0, 529px 1589px #ff10f0, 164px 666px #ff10f0,
    1876px 1290px #ff10f0, 1541px 526px #ff10f0, 270px 1297px #ff10f0,
    440px 865px #ff10f0, 1500px 802px #ff10f0, 182px 1754px #ff10f0,
    1264px 892px #ff10f0, 272px 1249px #ff10f0, 1289px 1535px #ff10f0,
    190px 1646px #ff10f0, 955px 242px #ff10f0, 1456px 1597px #ff10f0,
    1727px 1983px #ff10f0, 635px 801px #ff10f0, 226px 455px #ff10f0,
    1396px 1710px #ff10f0, 849px 1863px #ff10f0, 237px 1264px #ff10f0,
    839px 140px #ff10f0, 1122px 735px #ff10f0, 1280px 15px #ff10f0,
    1318px 242px #ff10f0, 1819px 1148px #ff10f0, 333px 1392px #ff10f0,
    1949px 553px #ff10f0, 1878px 1332px #ff10f0, 467px 548px #ff10f0,
    1812px 1082px #ff10f0, 1067px 193px #ff10f0, 243px 156px #ff10f0,
    483px 1616px #ff10f0, 1714px 933px #ff10f0, 759px 1800px #ff10f0,
    1822px 995px #ff10f0, 1877px 572px #ff10f0, 581px 1084px #ff10f0,
    107px 732px #ff10f0, 642px 1837px #ff10f0, 166px 1493px #ff10f0,
    1555px 198px #ff10f0, 819px 307px #ff10f0, 947px 345px #ff10f0,
    827px 224px #ff10f0, 927px 1394px #ff10f0, 540px 467px #ff10f0,
    1093px 405px #ff10f0, 1140px 927px #ff10f0, 130px 529px #ff10f0,
    33px 1980px #ff10f0, 1147px 1663px #ff10f0, 1616px 1436px #ff10f0,
    528px 710px #ff10f0, 798px 1100px #ff10f0, 505px 1480px #ff10f0,
    899px 641px #ff10f0, 1909px 1949px #ff10f0, 1311px 964px #ff10f0,
    979px 1301px #ff10f0, 1393px 969px #ff10f0, 1793px 1886px #ff10f0,
    292px 357px #ff10f0, 1196px 1718px #ff10f0, 1290px 1994px #ff10f0,
    537px 1973px #ff10f0, 1181px 1674px #ff10f0, 1740px 1566px #ff10f0,
    1307px 265px #ff10f0, 922px 522px #ff10f0, 1892px 472px #ff10f0,
    384px 1746px #ff10f0, 392px 1098px #ff10f0, 647px 548px #ff10f0,
    390px 1498px #ff10f0, 1246px 138px #ff10f0, 730px 876px #ff10f0,
    192px 1472px #ff10f0, 1790px 1789px #ff10f0, 928px 311px #ff10f0,
    1253px 1647px #ff10f0, 747px 1921px #ff10f0, 1561px 1025px #ff10f0,
    1533px 1292px #ff10f0, 1985px 195px #ff10f0, 728px 729px #ff10f0,
    1712px 1936px #ff10f0, 512px 1717px #ff10f0, 1528px 483px #ff10f0,
    313px 1642px #ff10f0, 281px 1849px #ff10f0, 1212px 799px #ff10f0,
    435px 1191px #ff10f0, 1422px 611px #ff10f0, 1718px 1964px #ff10f0,
    411px 944px #ff10f0, 210px 636px #ff10f0, 1502px 1295px #ff10f0,
    1434px 349px #ff10f0, 769px 60px #ff10f0, 747px 1053px #ff10f0,
    789px 504px #ff10f0, 1436px 1264px #ff10f0, 1893px 1225px #ff10f0,
    1394px 1788px #ff10f0, 1108px 1317px #ff10f0, 1673px 1395px #ff10f0,
    854px 1010px #ff10f0, 1705px 80px #ff10f0, 1858px 148px #ff10f0,
    1729px 344px #ff10f0, 1388px 664px #ff10f0, 895px 406px #ff10f0,
    1479px 157px #ff10f0, 1441px 1157px #ff10f0, 552px 1900px #ff10f0,
    516px 364px #ff10f0, 1647px 189px #ff10f0, 1427px 1071px #ff10f0,
    785px 729px #ff10f0, 1080px 1710px #ff10f0, 504px 204px #ff10f0,
    1177px 1622px #ff10f0, 657px 34px #ff10f0, 1296px 1099px #ff10f0,
    248px 180px #ff10f0, 1212px 1568px #ff10f0, 667px 1562px #ff10f0,
    695px 841px #ff10f0, 1608px 1247px #ff10f0, 751px 882px #ff10f0,
    87px 167px #ff10f0, 607px 1368px #ff10f0, 1363px 1203px #ff10f0,
    1836px 317px #ff10f0, 1668px 1703px #ff10f0, 830px 1154px #ff10f0,
    1721px 1398px #ff10f0, 1601px 1280px #ff10f0, 976px 874px #ff10f0,
    1743px 254px #ff10f0, 1020px 1815px #ff10f0, 1670px 1766px #ff10f0,
    1890px 735px #ff10f0, 1379px 136px #ff10f0, 1864px 695px #ff10f0,
    206px 965px #ff10f0, 1404px 1932px #ff10f0, 1923px 1360px #ff10f0,
    247px 682px #ff10f0, 519px 1708px #ff10f0, 645px 750px #ff10f0,
    1164px 1204px #ff10f0, 834px 323px #ff10f0, 172px 1350px #ff10f0,
    213px 972px #ff10f0, 1837px 190px #ff10f0, 285px 1806px #ff10f0,
    1047px 1299px #ff10f0, 1548px 825px #ff10f0, 1730px 324px #ff10f0,
    1346px 1909px #ff10f0, 772px 270px #ff10f0, 345px 1190px #ff10f0,
    478px 1433px #ff10f0, 1479px 25px #ff10f0, 1994px 1830px #ff10f0,
    1744px 732px #ff10f0, 20px 1635px #ff10f0, 690px 1795px #ff10f0,
    1594px 569px #ff10f0, 579px 245px #ff10f0, 1398px 733px #ff10f0,
    408px 1352px #ff10f0, 1774px 120px #ff10f0, 1152px 1370px #ff10f0,
    1698px 1810px #ff10f0, 710px 1450px #ff10f0, 665px 286px #ff10f0,
    493px 1720px #ff10f0, 786px 5px #ff10f0, 637px 1140px #ff10f0,
    764px 324px #ff10f0, 927px 310px #ff10f0, 938px 1424px #ff10f0,
    1884px 744px #ff10f0, 913px 462px #ff10f0, 1831px 1936px #ff10f0,
    1527px 249px #ff10f0, 36px 1381px #ff10f0, 1597px 581px #ff10f0,
    1530px 355px #ff10f0, 949px 459px #ff10f0, 799px 828px #ff10f0,
    242px 1471px #ff10f0, 654px 797px #ff10f0, 796px 594px #ff10f0,
    1365px 678px #ff10f0, 752px 23px #ff10f0, 1630px 541px #ff10f0,
    982px 72px #ff10f0, 1733px 1831px #ff10f0, 21px 412px #ff10f0,
    775px 998px #ff10f0, 335px 1945px #ff10f0, 264px 583px #ff10f0,
    158px 1311px #ff10f0, 528px 164px #ff10f0, 1978px 574px #ff10f0,
    717px 1203px #ff10f0, 734px 1591px #ff10f0, 1555px 820px #ff10f0,
    16px 1943px #ff10f0, 1625px 1177px #ff10f0, 1236px 690px #ff10f0,
    1585px 1590px #ff10f0, 1737px 1728px #ff10f0, 721px 698px #ff10f0,
    1804px 1186px #ff10f0, 166px 980px #ff10f0, 1850px 230px #ff10f0,
    330px 1712px #ff10f0, 95px 797px #ff10f0, 1948px 1078px #ff10f0,
    469px 939px #ff10f0, 1269px 1899px #ff10f0, 955px 1220px #ff10f0,
    1137px 1075px #ff10f0, 312px 1293px #ff10f0, 986px 1762px #ff10f0,
    1103px 1238px #ff10f0, 428px 1993px #ff10f0, 355px 570px #ff10f0,
    977px 1836px #ff10f0, 1395px 1092px #ff10f0, 276px 913px #ff10f0,
    1743px 656px #ff10f0, 773px 502px #ff10f0, 1686px 1322px #ff10f0,
    1516px 1945px #ff10f0, 1334px 501px #ff10f0, 266px 156px #ff10f0,
    455px 655px #ff10f0, 798px 72px #ff10f0, 1059px 1259px #ff10f0,
    1402px 1687px #ff10f0, 236px 1329px #ff10f0, 1455px 786px #ff10f0,
    146px 1228px #ff10f0, 1851px 823px #ff10f0, 1062px 100px #ff10f0,
    1220px 953px #ff10f0, 20px 1826px #ff10f0, 36px 1063px #ff10f0,
    1525px 338px #ff10f0, 790px 1521px #ff10f0, 741px 1099px #ff10f0,
    288px 1489px #ff10f0, 700px 1060px #ff10f0, 390px 1071px #ff10f0,
    411px 1036px #ff10f0, 1853px 1072px #ff10f0, 1446px 1085px #ff10f0,
    1164px 874px #ff10f0, 924px 925px #ff10f0, 291px 271px #ff10f0,
    1257px 1964px #ff10f0, 1580px 1352px #ff10f0, 1507px 1216px #ff10f0,
    211px 956px #ff10f0, 985px 1195px #ff10f0, 975px 1640px #ff10f0,
    518px 101px #ff10f0, 663px 1395px #ff10f0, 914px 532px #ff10f0,
    145px 1320px #ff10f0, 69px 1397px #ff10f0, 982px 523px #ff10f0,
    257px 725px #ff10f0, 1599px 831px #ff10f0, 1636px 1513px #ff10f0,
    1250px 1158px #ff10f0, 1132px 604px #ff10f0, 183px 102px #ff10f0,
    1057px 318px #ff10f0, 1247px 1835px #ff10f0, 1983px 1110px #ff10f0,
    1077px 1455px #ff10f0, 921px 1770px #ff10f0, 806px 1350px #ff10f0,
    1938px 1992px #ff10f0, 855px 1260px #ff10f0, 902px 1345px #ff10f0,
    658px 1908px #ff10f0, 1845px 679px #ff10f0, 712px 1482px #ff10f0,
    595px 950px #ff10f0, 1784px 1992px #ff10f0, 1847px 1785px #ff10f0,
    691px 1004px #ff10f0, 175px 1179px #ff10f0, 1666px 1911px #ff10f0,
    41px 61px #ff10f0, 971px 1080px #ff10f0, 1830px 1450px #ff10f0,
    1351px 1518px #ff10f0, 1257px 99px #ff10f0, 1395px 1498px #ff10f0,
    1117px 252px #ff10f0, 1779px 597px #ff10f0, 1346px 729px #ff10f0,
    1108px 1144px #ff10f0, 402px 691px #ff10f0, 72px 496px #ff10f0,
    1673px 1604px #ff10f0, 1497px 974px #ff10f0, 1865px 1664px #ff10f0,
    88px 806px #ff10f0, 918px 77px #ff10f0, 244px 1118px #ff10f0,
    256px 1820px #ff10f0, 1851px 1840px #ff10f0, 605px 1851px #ff10f0,
    634px 383px #ff10f0, 865px 37px #ff10f0, 943px 1024px #ff10f0,
    1951px 177px #ff10f0, 1097px 523px #ff10f0, 985px 1700px #ff10f0,
    1243px 122px #ff10f0, 768px 1070px #ff10f0, 468px 194px #ff10f0,
    320px 1867px #ff10f0, 1850px 185px #ff10f0, 380px 1616px #ff10f0,
    468px 1294px #ff10f0, 1122px 1743px #ff10f0, 884px 299px #ff10f0,
    1300px 1917px #ff10f0, 1860px 396px #ff10f0, 1270px 990px #ff10f0,
    529px 733px #ff10f0, 1975px 1347px #ff10f0, 1885px 685px #ff10f0,
    226px 506px #ff10f0, 651px 878px #ff10f0, 1323px 680px #ff10f0,
    1284px 680px #ff10f0, 238px 1967px #ff10f0, 911px 174px #ff10f0,
    1111px 521px #ff10f0, 1150px 85px #ff10f0, 794px 502px #ff10f0,
    484px 1856px #ff10f0, 1809px 368px #ff10f0, 112px 953px #ff10f0,
    590px 1009px #ff10f0, 1655px 311px #ff10f0, 100px 1026px #ff10f0,
    1803px 352px #ff10f0, 865px 306px #ff10f0, 1077px 1019px #ff10f0,
    1335px 872px #ff10f0, 1647px 1298px #ff10f0, 1233px 1387px #ff10f0,
    698px 1036px #ff10f0, 659px 1860px #ff10f0, 388px 1412px #ff10f0,
    1212px 458px #ff10f0, 755px 1468px #ff10f0, 696px 1654px #ff10f0,
    1144px 60px #ff10f0;
}

#stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px #ff10f0, 324px 42px #ff10f0, 303px 586px #ff10f0,
    1312px 276px #ff10f0, 451px 625px #ff10f0, 521px 1931px #ff10f0,
    1087px 1871px #ff10f0, 36px 1546px #ff10f0, 132px 934px #ff10f0,
    1698px 901px #ff10f0, 1418px 664px #ff10f0, 1448px 1157px #ff10f0,
    1084px 232px #ff10f0, 347px 1776px #ff10f0, 1722px 243px #ff10f0,
    1629px 835px #ff10f0, 479px 969px #ff10f0, 1231px 960px #ff10f0,
    586px 384px #ff10f0, 164px 527px #ff10f0, 8px 646px #ff10f0,
    1150px 1126px #ff10f0, 665px 1357px #ff10f0, 1556px 1982px #ff10f0,
    1260px 1961px #ff10f0, 1675px 1741px #ff10f0, 1843px 1514px #ff10f0,
    718px 1628px #ff10f0, 242px 1343px #ff10f0, 1497px 1880px #ff10f0,
    1364px 230px #ff10f0, 1739px 1302px #ff10f0, 636px 959px #ff10f0,
    304px 686px #ff10f0, 614px 751px #ff10f0, 1935px 816px #ff10f0,
    1428px 60px #ff10f0, 355px 335px #ff10f0, 1594px 158px #ff10f0,
    90px 60px #ff10f0, 1553px 162px #ff10f0, 1239px 1825px #ff10f0,
    1945px 587px #ff10f0, 749px 1785px #ff10f0, 1987px 1172px #ff10f0,
    1301px 1237px #ff10f0, 1039px 342px #ff10f0, 1585px 1481px #ff10f0,
    995px 1048px #ff10f0, 524px 932px #ff10f0, 214px 413px #ff10f0,
    1701px 1300px #ff10f0, 1037px 1613px #ff10f0, 1871px 996px #ff10f0,
    1360px 1635px #ff10f0, 1110px 1313px #ff10f0, 412px 1783px #ff10f0,
    1949px 177px #ff10f0, 903px 1854px #ff10f0, 700px 1936px #ff10f0,
    378px 125px #ff10f0, 308px 834px #ff10f0, 1118px 962px #ff10f0,
    1350px 1929px #ff10f0, 781px 1811px #ff10f0, 561px 137px #ff10f0,
    757px 1148px #ff10f0, 1670px 1979px #ff10f0, 343px 739px #ff10f0,
    945px 795px #ff10f0, 576px 1903px #ff10f0, 1078px 1436px #ff10f0,
    1583px 450px #ff10f0, 1366px 474px #ff10f0, 297px 1873px #ff10f0,
    192px 162px #ff10f0, 1624px 1633px #ff10f0, 59px 453px #ff10f0,
    82px 1872px #ff10f0, 1933px 498px #ff10f0, 1966px 1974px #ff10f0,
    1975px 1688px #ff10f0, 779px 314px #ff10f0, 1858px 1543px #ff10f0,
    73px 1507px #ff10f0, 1693px 975px #ff10f0, 1683px 108px #ff10f0,
    1768px 1654px #ff10f0, 654px 14px #ff10f0, 494px 171px #ff10f0,
    1689px 1895px #ff10f0, 1660px 263px #ff10f0, 1031px 903px #ff10f0,
    1203px 1393px #ff10f0, 1333px 1421px #ff10f0, 1113px 41px #ff10f0,
    1206px 1645px #ff10f0, 1325px 1635px #ff10f0, 142px 388px #ff10f0,
    572px 215px #ff10f0, 1535px 296px #ff10f0, 1419px 407px #ff10f0,
    1379px 1003px #ff10f0, 329px 469px #ff10f0, 1791px 1652px #ff10f0,
    935px 1802px #ff10f0, 1330px 1820px #ff10f0, 421px 1933px #ff10f0,
    828px 365px #ff10f0, 275px 316px #ff10f0, 707px 960px #ff10f0,
    1605px 1554px #ff10f0, 625px 58px #ff10f0, 717px 1697px #ff10f0,
    1669px 246px #ff10f0, 1925px 322px #ff10f0, 1154px 1803px #ff10f0,
    1929px 295px #ff10f0, 1248px 240px #ff10f0, 1045px 1755px #ff10f0,
    166px 942px #ff10f0, 1888px 1773px #ff10f0, 678px 1963px #ff10f0,
    1370px 569px #ff10f0, 1974px 1400px #ff10f0, 1786px 460px #ff10f0,
    51px 307px #ff10f0, 784px 1400px #ff10f0, 730px 1258px #ff10f0,
    1712px 393px #ff10f0, 416px 170px #ff10f0, 1797px 1932px #ff10f0,
    572px 219px #ff10f0, 1557px 1856px #ff10f0, 218px 8px #ff10f0,
    348px 1334px #ff10f0, 469px 413px #ff10f0, 385px 1738px #ff10f0,
    1357px 1818px #ff10f0, 240px 942px #ff10f0, 248px 1847px #ff10f0,
    1535px 806px #ff10f0, 236px 1514px #ff10f0, 1429px 1556px #ff10f0,
    73px 1633px #ff10f0, 1398px 1121px #ff10f0, 671px 1301px #ff10f0,
    1404px 1663px #ff10f0, 740px 1018px #ff10f0, 1600px 377px #ff10f0,
    785px 514px #ff10f0, 112px 1084px #ff10f0, 1915px 1887px #ff10f0,
    1463px 1848px #ff10f0, 687px 1115px #ff10f0, 1268px 1768px #ff10f0,
    1729px 1425px #ff10f0, 1284px 1022px #ff10f0, 801px 974px #ff10f0,
    1975px 1317px #ff10f0, 1354px 834px #ff10f0, 1446px 1484px #ff10f0,
    1283px 1786px #ff10f0, 11px 523px #ff10f0, 1842px 236px #ff10f0,
    1355px 654px #ff10f0, 429px 7px #ff10f0, 1033px 1128px #ff10f0,
    157px 297px #ff10f0, 545px 635px #ff10f0, 52px 1080px #ff10f0,
    827px 1520px #ff10f0, 1121px 490px #ff10f0, 9px 309px #ff10f0,
    1744px 1586px #ff10f0, 1014px 417px #ff10f0, 1534px 524px #ff10f0,
    958px 552px #ff10f0, 1403px 1496px #ff10f0, 387px 703px #ff10f0,
    1522px 548px #ff10f0, 1355px 282px #ff10f0, 1532px 601px #ff10f0,
    1838px 790px #ff10f0, 290px 259px #ff10f0, 295px 598px #ff10f0,
    1601px 539px #ff10f0, 1561px 1272px #ff10f0, 34px 1922px #ff10f0,
    1024px 543px #ff10f0, 467px 369px #ff10f0, 722px 333px #ff10f0,
    1976px 1255px #ff10f0, 766px 983px #ff10f0, 1582px 1285px #ff10f0,
    12px 512px #ff10f0, 617px 1410px #ff10f0, 682px 577px #ff10f0,
    1334px 1438px #ff10f0, 439px 327px #ff10f0, 1617px 1661px #ff10f0,
    673px 129px #ff10f0, 794px 941px #ff10f0, 1386px 1902px #ff10f0,
    37px 1353px #ff10f0, 1467px 1353px #ff10f0, 416px 18px #ff10f0,
    187px 344px #ff10f0, 200px 1898px #ff10f0, 1491px 1619px #ff10f0,
    811px 347px #ff10f0, 924px 1827px #ff10f0, 945px 217px #ff10f0,
    1735px 1228px #ff10f0, 379px 1890px #ff10f0, 79px 761px #ff10f0,
    825px 1837px #ff10f0, 1980px 1558px #ff10f0, 1308px 1573px #ff10f0,
    1488px 1726px #ff10f0, 382px 1208px #ff10f0, 522px 595px #ff10f0,
    1277px 1898px #ff10f0, 354px 552px #ff10f0, 161px 1784px #ff10f0,
    614px 251px #ff10f0, 526px 1576px #ff10f0, 17px 212px #ff10f0,
    179px 996px #ff10f0, 467px 1208px #ff10f0, 1944px 1838px #ff10f0,
    1140px 1093px #ff10f0, 858px 1007px #ff10f0, 200px 1064px #ff10f0,
    423px 1964px #ff10f0, 1945px 439px #ff10f0, 1377px 689px #ff10f0,
    1120px 1437px #ff10f0, 1876px 668px #ff10f0, 907px 1324px #ff10f0,
    343px 1976px #ff10f0, 1816px 1501px #ff10f0, 1849px 177px #ff10f0,
    647px 91px #ff10f0, 1984px 1012px #ff10f0, 1336px 1300px #ff10f0,
    128px 648px #ff10f0, 305px 1060px #ff10f0, 1324px 826px #ff10f0,
    1263px 1314px #ff10f0, 1801px 629px #ff10f0, 1614px 1555px #ff10f0,
    1634px 90px #ff10f0, 1603px 452px #ff10f0, 891px 1984px #ff10f0,
    1556px 1906px #ff10f0, 121px 68px #ff10f0, 1676px 1714px #ff10f0,
    516px 936px #ff10f0, 1947px 1492px #ff10f0, 1455px 1519px #ff10f0,
    45px 602px #ff10f0, 205px 1039px #ff10f0, 793px 172px #ff10f0,
    1562px 1739px #ff10f0, 1056px 110px #ff10f0, 1512px 379px #ff10f0,
    1795px 1621px #ff10f0, 1848px 607px #ff10f0, 262px 1719px #ff10f0,
    477px 991px #ff10f0, 483px 883px #ff10f0, 1239px 1197px #ff10f0,
    1496px 647px #ff10f0, 1649px 25px #ff10f0, 1491px 1946px #ff10f0,
    119px 996px #ff10f0, 179px 1472px #ff10f0, 1341px 808px #ff10f0,
    1565px 1700px #ff10f0, 407px 1544px #ff10f0, 1754px 357px #ff10f0,
    1288px 981px #ff10f0, 902px 1997px #ff10f0, 1755px 1668px #ff10f0,
    186px 877px #ff10f0, 1202px 1882px #ff10f0, 461px 1213px #ff10f0,
    1400px 748px #ff10f0, 1969px 1899px #ff10f0, 809px 522px #ff10f0,
    514px 1219px #ff10f0, 374px 275px #ff10f0, 938px 1973px #ff10f0,
    357px 552px #ff10f0, 144px 1722px #ff10f0, 1572px 912px #ff10f0,
    402px 1858px #ff10f0, 1544px 1195px #ff10f0, 667px 1257px #ff10f0,
    727px 1496px #ff10f0, 993px 232px #ff10f0, 1772px 313px #ff10f0,
    1040px 1590px #ff10f0, 1204px 1973px #ff10f0, 1268px 79px #ff10f0,
    1555px 1048px #ff10f0, 986px 1707px #ff10f0, 978px 1710px #ff10f0,
    713px 360px #ff10f0, 407px 863px #ff10f0, 461px 736px #ff10f0,
    284px 1608px #ff10f0, 103px 430px #ff10f0, 1283px 1319px #ff10f0,
    977px 1186px #ff10f0, 1966px 1516px #ff10f0, 1287px 1129px #ff10f0,
    70px 1098px #ff10f0, 1189px 889px #ff10f0, 1126px 1734px #ff10f0,
    309px 1292px #ff10f0, 879px 764px #ff10f0, 65px 473px #ff10f0,
    1003px 1959px #ff10f0, 658px 791px #ff10f0, 402px 1576px #ff10f0,
    35px 622px #ff10f0, 529px 1589px #ff10f0, 164px 666px #ff10f0,
    1876px 1290px #ff10f0, 1541px 526px #ff10f0, 270px 1297px #ff10f0,
    440px 865px #ff10f0, 1500px 802px #ff10f0, 182px 1754px #ff10f0,
    1264px 892px #ff10f0, 272px 1249px #ff10f0, 1289px 1535px #ff10f0,
    190px 1646px #ff10f0, 955px 242px #ff10f0, 1456px 1597px #ff10f0,
    1727px 1983px #ff10f0, 635px 801px #ff10f0, 226px 455px #ff10f0,
    1396px 1710px #ff10f0, 849px 1863px #ff10f0, 237px 1264px #ff10f0,
    839px 140px #ff10f0, 1122px 735px #ff10f0, 1280px 15px #ff10f0,
    1318px 242px #ff10f0, 1819px 1148px #ff10f0, 333px 1392px #ff10f0,
    1949px 553px #ff10f0, 1878px 1332px #ff10f0, 467px 548px #ff10f0,
    1812px 1082px #ff10f0, 1067px 193px #ff10f0, 243px 156px #ff10f0,
    483px 1616px #ff10f0, 1714px 933px #ff10f0, 759px 1800px #ff10f0,
    1822px 995px #ff10f0, 1877px 572px #ff10f0, 581px 1084px #ff10f0,
    107px 732px #ff10f0, 642px 1837px #ff10f0, 166px 1493px #ff10f0,
    1555px 198px #ff10f0, 819px 307px #ff10f0, 947px 345px #ff10f0,
    827px 224px #ff10f0, 927px 1394px #ff10f0, 540px 467px #ff10f0,
    1093px 405px #ff10f0, 1140px 927px #ff10f0, 130px 529px #ff10f0,
    33px 1980px #ff10f0, 1147px 1663px #ff10f0, 1616px 1436px #ff10f0,
    528px 710px #ff10f0, 798px 1100px #ff10f0, 505px 1480px #ff10f0,
    899px 641px #ff10f0, 1909px 1949px #ff10f0, 1311px 964px #ff10f0,
    979px 1301px #ff10f0, 1393px 969px #ff10f0, 1793px 1886px #ff10f0,
    292px 357px #ff10f0, 1196px 1718px #ff10f0, 1290px 1994px #ff10f0,
    537px 1973px #ff10f0, 1181px 1674px #ff10f0, 1740px 1566px #ff10f0,
    1307px 265px #ff10f0, 922px 522px #ff10f0, 1892px 472px #ff10f0,
    384px 1746px #ff10f0, 392px 1098px #ff10f0, 647px 548px #ff10f0,
    390px 1498px #ff10f0, 1246px 138px #ff10f0, 730px 876px #ff10f0,
    192px 1472px #ff10f0, 1790px 1789px #ff10f0, 928px 311px #ff10f0,
    1253px 1647px #ff10f0, 747px 1921px #ff10f0, 1561px 1025px #ff10f0,
    1533px 1292px #ff10f0, 1985px 195px #ff10f0, 728px 729px #ff10f0,
    1712px 1936px #ff10f0, 512px 1717px #ff10f0, 1528px 483px #ff10f0,
    313px 1642px #ff10f0, 281px 1849px #ff10f0, 1212px 799px #ff10f0,
    435px 1191px #ff10f0, 1422px 611px #ff10f0, 1718px 1964px #ff10f0,
    411px 944px #ff10f0, 210px 636px #ff10f0, 1502px 1295px #ff10f0,
    1434px 349px #ff10f0, 769px 60px #ff10f0, 747px 1053px #ff10f0,
    789px 504px #ff10f0, 1436px 1264px #ff10f0, 1893px 1225px #ff10f0,
    1394px 1788px #ff10f0, 1108px 1317px #ff10f0, 1673px 1395px #ff10f0,
    854px 1010px #ff10f0, 1705px 80px #ff10f0, 1858px 148px #ff10f0,
    1729px 344px #ff10f0, 1388px 664px #ff10f0, 895px 406px #ff10f0,
    1479px 157px #ff10f0, 1441px 1157px #ff10f0, 552px 1900px #ff10f0,
    516px 364px #ff10f0, 1647px 189px #ff10f0, 1427px 1071px #ff10f0,
    785px 729px #ff10f0, 1080px 1710px #ff10f0, 504px 204px #ff10f0,
    1177px 1622px #ff10f0, 657px 34px #ff10f0, 1296px 1099px #ff10f0,
    248px 180px #ff10f0, 1212px 1568px #ff10f0, 667px 1562px #ff10f0,
    695px 841px #ff10f0, 1608px 1247px #ff10f0, 751px 882px #ff10f0,
    87px 167px #ff10f0, 607px 1368px #ff10f0, 1363px 1203px #ff10f0,
    1836px 317px #ff10f0, 1668px 1703px #ff10f0, 830px 1154px #ff10f0,
    1721px 1398px #ff10f0, 1601px 1280px #ff10f0, 976px 874px #ff10f0,
    1743px 254px #ff10f0, 1020px 1815px #ff10f0, 1670px 1766px #ff10f0,
    1890px 735px #ff10f0, 1379px 136px #ff10f0, 1864px 695px #ff10f0,
    206px 965px #ff10f0, 1404px 1932px #ff10f0, 1923px 1360px #ff10f0,
    247px 682px #ff10f0, 519px 1708px #ff10f0, 645px 750px #ff10f0,
    1164px 1204px #ff10f0, 834px 323px #ff10f0, 172px 1350px #ff10f0,
    213px 972px #ff10f0, 1837px 190px #ff10f0, 285px 1806px #ff10f0,
    1047px 1299px #ff10f0, 1548px 825px #ff10f0, 1730px 324px #ff10f0,
    1346px 1909px #ff10f0, 772px 270px #ff10f0, 345px 1190px #ff10f0,
    478px 1433px #ff10f0, 1479px 25px #ff10f0, 1994px 1830px #ff10f0,
    1744px 732px #ff10f0, 20px 1635px #ff10f0, 690px 1795px #ff10f0,
    1594px 569px #ff10f0, 579px 245px #ff10f0, 1398px 733px #ff10f0,
    408px 1352px #ff10f0, 1774px 120px #ff10f0, 1152px 1370px #ff10f0,
    1698px 1810px #ff10f0, 710px 1450px #ff10f0, 665px 286px #ff10f0,
    493px 1720px #ff10f0, 786px 5px #ff10f0, 637px 1140px #ff10f0,
    764px 324px #ff10f0, 927px 310px #ff10f0, 938px 1424px #ff10f0,
    1884px 744px #ff10f0, 913px 462px #ff10f0, 1831px 1936px #ff10f0,
    1527px 249px #ff10f0, 36px 1381px #ff10f0, 1597px 581px #ff10f0,
    1530px 355px #ff10f0, 949px 459px #ff10f0, 799px 828px #ff10f0,
    242px 1471px #ff10f0, 654px 797px #ff10f0, 796px 594px #ff10f0,
    1365px 678px #ff10f0, 752px 23px #ff10f0, 1630px 541px #ff10f0,
    982px 72px #ff10f0, 1733px 1831px #ff10f0, 21px 412px #ff10f0,
    775px 998px #ff10f0, 335px 1945px #ff10f0, 264px 583px #ff10f0,
    158px 1311px #ff10f0, 528px 164px #ff10f0, 1978px 574px #ff10f0,
    717px 1203px #ff10f0, 734px 1591px #ff10f0, 1555px 820px #ff10f0,
    16px 1943px #ff10f0, 1625px 1177px #ff10f0, 1236px 690px #ff10f0,
    1585px 1590px #ff10f0, 1737px 1728px #ff10f0, 721px 698px #ff10f0,
    1804px 1186px #ff10f0, 166px 980px #ff10f0, 1850px 230px #ff10f0,
    330px 1712px #ff10f0, 95px 797px #ff10f0, 1948px 1078px #ff10f0,
    469px 939px #ff10f0, 1269px 1899px #ff10f0, 955px 1220px #ff10f0,
    1137px 1075px #ff10f0, 312px 1293px #ff10f0, 986px 1762px #ff10f0,
    1103px 1238px #ff10f0, 428px 1993px #ff10f0, 355px 570px #ff10f0,
    977px 1836px #ff10f0, 1395px 1092px #ff10f0, 276px 913px #ff10f0,
    1743px 656px #ff10f0, 773px 502px #ff10f0, 1686px 1322px #ff10f0,
    1516px 1945px #ff10f0, 1334px 501px #ff10f0, 266px 156px #ff10f0,
    455px 655px #ff10f0, 798px 72px #ff10f0, 1059px 1259px #ff10f0,
    1402px 1687px #ff10f0, 236px 1329px #ff10f0, 1455px 786px #ff10f0,
    146px 1228px #ff10f0, 1851px 823px #ff10f0, 1062px 100px #ff10f0,
    1220px 953px #ff10f0, 20px 1826px #ff10f0, 36px 1063px #ff10f0,
    1525px 338px #ff10f0, 790px 1521px #ff10f0, 741px 1099px #ff10f0,
    288px 1489px #ff10f0, 700px 1060px #ff10f0, 390px 1071px #ff10f0,
    411px 1036px #ff10f0, 1853px 1072px #ff10f0, 1446px 1085px #ff10f0,
    1164px 874px #ff10f0, 924px 925px #ff10f0, 291px 271px #ff10f0,
    1257px 1964px #ff10f0, 1580px 1352px #ff10f0, 1507px 1216px #ff10f0,
    211px 956px #ff10f0, 985px 1195px #ff10f0, 975px 1640px #ff10f0,
    518px 101px #ff10f0, 663px 1395px #ff10f0, 914px 532px #ff10f0,
    145px 1320px #ff10f0, 69px 1397px #ff10f0, 982px 523px #ff10f0,
    257px 725px #ff10f0, 1599px 831px #ff10f0, 1636px 1513px #ff10f0,
    1250px 1158px #ff10f0, 1132px 604px #ff10f0, 183px 102px #ff10f0,
    1057px 318px #ff10f0, 1247px 1835px #ff10f0, 1983px 1110px #ff10f0,
    1077px 1455px #ff10f0, 921px 1770px #ff10f0, 806px 1350px #ff10f0,
    1938px 1992px #ff10f0, 855px 1260px #ff10f0, 902px 1345px #ff10f0,
    658px 1908px #ff10f0, 1845px 679px #ff10f0, 712px 1482px #ff10f0,
    595px 950px #ff10f0, 1784px 1992px #ff10f0, 1847px 1785px #ff10f0,
    691px 1004px #ff10f0, 175px 1179px #ff10f0, 1666px 1911px #ff10f0,
    41px 61px #ff10f0, 971px 1080px #ff10f0, 1830px 1450px #ff10f0,
    1351px 1518px #ff10f0, 1257px 99px #ff10f0, 1395px 1498px #ff10f0,
    1117px 252px #ff10f0, 1779px 597px #ff10f0, 1346px 729px #ff10f0,
    1108px 1144px #ff10f0, 402px 691px #ff10f0, 72px 496px #ff10f0,
    1673px 1604px #ff10f0, 1497px 974px #ff10f0, 1865px 1664px #ff10f0,
    88px 806px #ff10f0, 918px 77px #ff10f0, 244px 1118px #ff10f0,
    256px 1820px #ff10f0, 1851px 1840px #ff10f0, 605px 1851px #ff10f0,
    634px 383px #ff10f0, 865px 37px #ff10f0, 943px 1024px #ff10f0,
    1951px 177px #ff10f0, 1097px 523px #ff10f0, 985px 1700px #ff10f0,
    1243px 122px #ff10f0, 768px 1070px #ff10f0, 468px 194px #ff10f0,
    320px 1867px #ff10f0, 1850px 185px #ff10f0, 380px 1616px #ff10f0,
    468px 1294px #ff10f0, 1122px 1743px #ff10f0, 884px 299px #ff10f0,
    1300px 1917px #ff10f0, 1860px 396px #ff10f0, 1270px 990px #ff10f0,
    529px 733px #ff10f0, 1975px 1347px #ff10f0, 1885px 685px #ff10f0,
    226px 506px #ff10f0, 651px 878px #ff10f0, 1323px 680px #ff10f0,
    1284px 680px #ff10f0, 238px 1967px #ff10f0, 911px 174px #ff10f0,
    1111px 521px #ff10f0, 1150px 85px #ff10f0, 794px 502px #ff10f0,
    484px 1856px #ff10f0, 1809px 368px #ff10f0, 112px 953px #ff10f0,
    590px 1009px #ff10f0, 1655px 311px #ff10f0, 100px 1026px #ff10f0,
    1803px 352px #ff10f0, 865px 306px #ff10f0, 1077px 1019px #ff10f0,
    1335px 872px #ff10f0, 1647px 1298px #ff10f0, 1233px 1387px #ff10f0,
    698px 1036px #ff10f0, 659px 1860px #ff10f0, 388px 1412px #ff10f0,
    1212px 458px #ff10f0, 755px 1468px #ff10f0, 696px 1654px #ff10f0,
    1144px 60px #ff10f0;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px #ff10f0, 1775px 1663px #ff10f0, 332px 1364px #ff10f0,
    878px 340px #ff10f0, 569px 1832px #ff10f0, 1422px 1684px #ff10f0,
    1946px 1907px #ff10f0, 121px 979px #ff10f0, 1044px 1069px #ff10f0,
    463px 381px #ff10f0, 423px 112px #ff10f0, 523px 1179px #ff10f0,
    779px 654px #ff10f0, 1398px 694px #ff10f0, 1085px 1464px #ff10f0,
    1599px 1869px #ff10f0, 801px 1882px #ff10f0, 779px 1231px #ff10f0,
    552px 932px #ff10f0, 1057px 1196px #ff10f0, 282px 1280px #ff10f0,
    496px 1986px #ff10f0, 1833px 1120px #ff10f0, 1802px 1293px #ff10f0,
    6px 1696px #ff10f0, 412px 1902px #ff10f0, 605px 438px #ff10f0,
    24px 1212px #ff10f0, 234px 1320px #ff10f0, 544px 344px #ff10f0,
    1107px 170px #ff10f0, 1603px 196px #ff10f0, 905px 648px #ff10f0,
    68px 1458px #ff10f0, 649px 1969px #ff10f0, 744px 675px #ff10f0,
    1127px 478px #ff10f0, 714px 1814px #ff10f0, 1486px 526px #ff10f0,
    270px 1636px #ff10f0, 1931px 149px #ff10f0, 1807px 378px #ff10f0,
    8px 390px #ff10f0, 1415px 699px #ff10f0, 1473px 1211px #ff10f0,
    1590px 141px #ff10f0, 270px 1705px #ff10f0, 69px 1423px #ff10f0,
    1108px 1053px #ff10f0, 1946px 128px #ff10f0, 371px 371px #ff10f0,
    1490px 220px #ff10f0, 357px 1885px #ff10f0, 363px 363px #ff10f0,
    1896px 1256px #ff10f0, 1979px 1050px #ff10f0, 947px 1342px #ff10f0,
    1754px 242px #ff10f0, 514px 974px #ff10f0, 65px 1477px #ff10f0,
    1840px 547px #ff10f0, 950px 695px #ff10f0, 459px 1150px #ff10f0,
    1124px 1502px #ff10f0, 481px 940px #ff10f0, 680px 839px #ff10f0,
    797px 1169px #ff10f0, 1977px 1491px #ff10f0, 734px 1724px #ff10f0,
    210px 298px #ff10f0, 816px 628px #ff10f0, 686px 770px #ff10f0,
    1721px 267px #ff10f0, 1663px 511px #ff10f0, 1481px 1141px #ff10f0,
    582px 248px #ff10f0, 1308px 953px #ff10f0, 628px 657px #ff10f0,
    897px 1535px #ff10f0, 270px 931px #ff10f0, 791px 467px #ff10f0,
    1336px 1732px #ff10f0, 1013px 1653px #ff10f0, 1911px 956px #ff10f0,
    587px 816px #ff10f0, 83px 456px #ff10f0, 930px 1478px #ff10f0,
    1587px 1694px #ff10f0, 614px 1200px #ff10f0, 302px 1782px #ff10f0,
    1711px 1432px #ff10f0, 443px 904px #ff10f0, 1666px 714px #ff10f0,
    1588px 1167px #ff10f0, 273px 1075px #ff10f0, 1679px 461px #ff10f0,
    721px 664px #ff10f0, 1202px 10px #ff10f0, 166px 1126px #ff10f0,
    331px 1628px #ff10f0, 430px 1565px #ff10f0, 1585px 509px #ff10f0,
    640px 38px #ff10f0, 822px 837px #ff10f0, 1760px 1664px #ff10f0,
    1122px 1458px #ff10f0, 398px 131px #ff10f0, 689px 285px #ff10f0,
    460px 652px #ff10f0, 1627px 365px #ff10f0, 348px 1648px #ff10f0,
    819px 1946px #ff10f0, 981px 1917px #ff10f0, 323px 76px #ff10f0,
    979px 684px #ff10f0, 887px 536px #ff10f0, 1348px 1596px #ff10f0,
    1055px 666px #ff10f0, 1402px 1797px #ff10f0, 1300px 1055px #ff10f0,
    937px 238px #ff10f0, 1474px 1815px #ff10f0, 1144px 1710px #ff10f0,
    1629px 1087px #ff10f0, 911px 919px #ff10f0, 771px 819px #ff10f0,
    403px 720px #ff10f0, 163px 736px #ff10f0, 1062px 238px #ff10f0,
    1774px 818px #ff10f0, 1874px 1178px #ff10f0, 1177px 699px #ff10f0,
    1244px 1244px #ff10f0, 1371px 58px #ff10f0, 564px 1515px #ff10f0,
    1824px 487px #ff10f0, 929px 702px #ff10f0, 394px 1348px #ff10f0,
    1161px 641px #ff10f0, 219px 1841px #ff10f0, 358px 941px #ff10f0,
    140px 1759px #ff10f0, 1019px 1345px #ff10f0, 274px 436px #ff10f0,
    1433px 1605px #ff10f0, 1798px 1426px #ff10f0, 294px 1848px #ff10f0,
    1681px 1877px #ff10f0, 1344px 1824px #ff10f0, 1439px 1632px #ff10f0,
    161px 1012px #ff10f0, 1308px 588px #ff10f0, 1789px 582px #ff10f0,
    721px 1910px #ff10f0, 318px 218px #ff10f0, 607px 319px #ff10f0,
    495px 535px #ff10f0, 1552px 1575px #ff10f0, 1562px 67px #ff10f0,
    403px 926px #ff10f0, 1096px 1800px #ff10f0, 1814px 1709px #ff10f0,
    1882px 1831px #ff10f0, 533px 46px #ff10f0, 823px 969px #ff10f0,
    530px 165px #ff10f0, 1030px 352px #ff10f0, 1681px 313px #ff10f0,
    338px 115px #ff10f0, 1607px 211px #ff10f0, 1718px 1184px #ff10f0,
    1589px 659px #ff10f0, 278px 355px #ff10f0, 464px 1464px #ff10f0,
    1165px 277px #ff10f0, 950px 694px #ff10f0, 1746px 293px #ff10f0,
    793px 911px #ff10f0, 528px 773px #ff10f0, 1883px 1694px #ff10f0,
    748px 182px #ff10f0, 1924px 1531px #ff10f0, 100px 636px #ff10f0,
    1473px 1445px #ff10f0, 1264px 1244px #ff10f0, 850px 1377px #ff10f0,
    987px 1976px #ff10f0, 933px 1761px #ff10f0, 922px 1270px #ff10f0,
    500px 396px #ff10f0, 1324px 8px #ff10f0, 1967px 1814px #ff10f0,
    1072px 1401px #ff10f0, 961px 37px #ff10f0, 156px 81px #ff10f0,
    1915px 502px #ff10f0, 1076px 1846px #ff10f0, 152px 1669px #ff10f0,
    986px 1529px #ff10f0, 1667px 1137px #ff10f0;
}

#stars2:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #ff10f0, 1775px 1663px #ff10f0, 332px 1364px #ff10f0,
    878px 340px #ff10f0, 569px 1832px #ff10f0, 1422px 1684px #ff10f0,
    1946px 1907px #ff10f0, 121px 979px #ff10f0, 1044px 1069px #ff10f0,
    463px 381px #ff10f0, 423px 112px #ff10f0, 523px 1179px #ff10f0,
    779px 654px #ff10f0, 1398px 694px #ff10f0, 1085px 1464px #ff10f0,
    1599px 1869px #ff10f0, 801px 1882px #ff10f0, 779px 1231px #ff10f0,
    552px 932px #ff10f0, 1057px 1196px #ff10f0, 282px 1280px #ff10f0,
    496px 1986px #ff10f0, 1833px 1120px #ff10f0, 1802px 1293px #ff10f0,
    6px 1696px #ff10f0, 412px 1902px #ff10f0, 605px 438px #ff10f0,
    24px 1212px #ff10f0, 234px 1320px #ff10f0, 544px 344px #ff10f0,
    1107px 170px #ff10f0, 1603px 196px #ff10f0, 905px 648px #ff10f0,
    68px 1458px #ff10f0, 649px 1969px #ff10f0, 744px 675px #ff10f0,
    1127px 478px #ff10f0, 714px 1814px #ff10f0, 1486px 526px #ff10f0,
    270px 1636px #ff10f0, 1931px 149px #ff10f0, 1807px 378px #ff10f0,
    8px 390px #ff10f0, 1415px 699px #ff10f0, 1473px 1211px #ff10f0,
    1590px 141px #ff10f0, 270px 1705px #ff10f0, 69px 1423px #ff10f0,
    1108px 1053px #ff10f0, 1946px 128px #ff10f0, 371px 371px #ff10f0,
    1490px 220px #ff10f0, 357px 1885px #ff10f0, 363px 363px #ff10f0,
    1896px 1256px #ff10f0, 1979px 1050px #ff10f0, 947px 1342px #ff10f0,
    1754px 242px #ff10f0, 514px 974px #ff10f0, 65px 1477px #ff10f0,
    1840px 547px #ff10f0, 950px 695px #ff10f0, 459px 1150px #ff10f0,
    1124px 1502px #ff10f0, 481px 940px #ff10f0, 680px 839px #ff10f0,
    797px 1169px #ff10f0, 1977px 1491px #ff10f0, 734px 1724px #ff10f0,
    210px 298px #ff10f0, 816px 628px #ff10f0, 686px 770px #ff10f0,
    1721px 267px #ff10f0, 1663px 511px #ff10f0, 1481px 1141px #ff10f0,
    582px 248px #ff10f0, 1308px 953px #ff10f0, 628px 657px #ff10f0,
    897px 1535px #ff10f0, 270px 931px #ff10f0, 791px 467px #ff10f0,
    1336px 1732px #ff10f0, 1013px 1653px #ff10f0, 1911px 956px #ff10f0,
    587px 816px #ff10f0, 83px 456px #ff10f0, 930px 1478px #ff10f0,
    1587px 1694px #ff10f0, 614px 1200px #ff10f0, 302px 1782px #ff10f0,
    1711px 1432px #ff10f0, 443px 904px #ff10f0, 1666px 714px #ff10f0,
    1588px 1167px #ff10f0, 273px 1075px #ff10f0, 1679px 461px #ff10f0,
    721px 664px #ff10f0, 1202px 10px #ff10f0, 166px 1126px #ff10f0,
    331px 1628px #ff10f0, 430px 1565px #ff10f0, 1585px 509px #ff10f0,
    640px 38px #ff10f0, 822px 837px #ff10f0, 1760px 1664px #ff10f0,
    1122px 1458px #ff10f0, 398px 131px #ff10f0, 689px 285px #ff10f0,
    460px 652px #ff10f0, 1627px 365px #ff10f0, 348px 1648px #ff10f0,
    819px 1946px #ff10f0, 981px 1917px #ff10f0, 323px 76px #ff10f0,
    979px 684px #ff10f0, 887px 536px #ff10f0, 1348px 1596px #ff10f0,
    1055px 666px #ff10f0, 1402px 1797px #ff10f0, 1300px 1055px #ff10f0,
    937px 238px #ff10f0, 1474px 1815px #ff10f0, 1144px 1710px #ff10f0,
    1629px 1087px #ff10f0, 911px 919px #ff10f0, 771px 819px #ff10f0,
    403px 720px #ff10f0, 163px 736px #ff10f0, 1062px 238px #ff10f0,
    1774px 818px #ff10f0, 1874px 1178px #ff10f0, 1177px 699px #ff10f0,
    1244px 1244px #ff10f0, 1371px 58px #ff10f0, 564px 1515px #ff10f0,
    1824px 487px #ff10f0, 929px 702px #ff10f0, 394px 1348px #ff10f0,
    1161px 641px #ff10f0, 219px 1841px #ff10f0, 358px 941px #ff10f0,
    140px 1759px #ff10f0, 1019px 1345px #ff10f0, 274px 436px #ff10f0,
    1433px 1605px #ff10f0, 1798px 1426px #ff10f0, 294px 1848px #ff10f0,
    1681px 1877px #ff10f0, 1344px 1824px #ff10f0, 1439px 1632px #ff10f0,
    161px 1012px #ff10f0, 1308px 588px #ff10f0, 1789px 582px #ff10f0,
    721px 1910px #ff10f0, 318px 218px #ff10f0, 607px 319px #ff10f0,
    495px 535px #ff10f0, 1552px 1575px #ff10f0, 1562px 67px #ff10f0,
    403px 926px #ff10f0, 1096px 1800px #ff10f0, 1814px 1709px #ff10f0,
    1882px 1831px #ff10f0, 533px 46px #ff10f0, 823px 969px #ff10f0,
    530px 165px #ff10f0, 1030px 352px #ff10f0, 1681px 313px #ff10f0,
    338px 115px #ff10f0, 1607px 211px #ff10f0, 1718px 1184px #ff10f0,
    1589px 659px #ff10f0, 278px 355px #ff10f0, 464px 1464px #ff10f0,
    1165px 277px #ff10f0, 950px 694px #ff10f0, 1746px 293px #ff10f0,
    793px 911px #ff10f0, 528px 773px #ff10f0, 1883px 1694px #ff10f0,
    748px 182px #ff10f0, 1924px 1531px #ff10f0, 100px 636px #ff10f0,
    1473px 1445px #ff10f0, 1264px 1244px #ff10f0, 850px 1377px #ff10f0,
    987px 1976px #ff10f0, 933px 1761px #ff10f0, 922px 1270px #ff10f0,
    500px 396px #ff10f0, 1324px 8px #ff10f0, 1967px 1814px #ff10f0,
    1072px 1401px #ff10f0, 961px 37px #ff10f0, 156px 81px #ff10f0,
    1915px 502px #ff10f0, 1076px 1846px #ff10f0, 152px 1669px #ff10f0,
    986px 1529px #ff10f0, 1667px 1137px #ff10f0;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinte;
  box-shadow: 387px 1878px #ff10f0, 760px 1564px #ff10f0, 1487px 999px #ff10f0,
    948px 1828px #ff10f0, 1977px 1001px #ff10f0, 1284px 1963px #ff10f0,
    656px 284px #ff10f0, 1268px 1635px #ff10f0, 1820px 598px #ff10f0,
    642px 1900px #ff10f0, 296px 57px #ff10f0, 921px 1620px #ff10f0,
    476px 1858px #ff10f0, 658px 613px #ff10f0, 1171px 1363px #ff10f0,
    1419px 283px #ff10f0, 1037px 731px #ff10f0, 503px 663px #ff10f0,
    1562px 463px #ff10f0, 383px 1197px #ff10f0, 1171px 1233px #ff10f0,
    876px 1768px #ff10f0, 856px 1615px #ff10f0, 1375px 1924px #ff10f0,
    1725px 918px #ff10f0, 952px 119px #ff10f0, 768px 1212px #ff10f0,
    992px 1462px #ff10f0, 1929px 717px #ff10f0, 1947px 755px #ff10f0,
    1818px 1123px #ff10f0, 1896px 1672px #ff10f0, 460px 198px #ff10f0,
    256px 271px #ff10f0, 752px 544px #ff10f0, 1222px 1859px #ff10f0,
    1851px 443px #ff10f0, 313px 1858px #ff10f0, 709px 446px #ff10f0,
    1546px 697px #ff10f0, 674px 1155px #ff10f0, 1112px 130px #ff10f0,
    355px 1790px #ff10f0, 1496px 974px #ff10f0, 1696px 480px #ff10f0,
    1316px 1265px #ff10f0, 1645px 1063px #ff10f0, 1182px 237px #ff10f0,
    427px 1582px #ff10f0, 859px 253px #ff10f0, 458px 939px #ff10f0,
    1517px 1644px #ff10f0, 1943px 60px #ff10f0, 212px 1650px #ff10f0,
    966px 1786px #ff10f0, 473px 712px #ff10f0, 130px 76px #ff10f0,
    1417px 1186px #ff10f0, 909px 1580px #ff10f0, 1913px 762px #ff10f0,
    204px 1143px #ff10f0, 1998px 1057px #ff10f0, 1468px 1301px #ff10f0,
    144px 1676px #ff10f0, 21px 1601px #ff10f0, 382px 1362px #ff10f0,
    912px 753px #ff10f0, 1488px 1405px #ff10f0, 802px 156px #ff10f0,
    174px 550px #ff10f0, 338px 1366px #ff10f0, 1197px 774px #ff10f0,
    602px 486px #ff10f0, 682px 1877px #ff10f0, 348px 1503px #ff10f0,
    407px 1139px #ff10f0, 950px 1400px #ff10f0, 922px 1139px #ff10f0,
    1697px 293px #ff10f0, 1238px 1281px #ff10f0, 1038px 1197px #ff10f0,
    376px 1889px #ff10f0, 1255px 1680px #ff10f0, 1008px 1316px #ff10f0,
    1538px 1447px #ff10f0, 1186px 874px #ff10f0, 1967px 640px #ff10f0,
    1341px 19px #ff10f0, 29px 1732px #ff10f0, 16px 1650px #ff10f0,
    1021px 1075px #ff10f0, 723px 424px #ff10f0, 1175px 41px #ff10f0,
    494px 1957px #ff10f0, 1296px 431px #ff10f0, 175px 1507px #ff10f0,
    831px 121px #ff10f0, 498px 1947px #ff10f0, 617px 880px #ff10f0,
    240px 403px #ff10f0;
}

#stars3:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px #ff10f0, 760px 1564px #ff10f0, 1487px 999px #ff10f0,
    948px 1828px #ff10f0, 1977px 1001px #ff10f0, 1284px 1963px #ff10f0,
    656px 284px #ff10f0, 1268px 1635px #ff10f0, 1820px 598px #ff10f0,
    642px 1900px #ff10f0, 296px 57px #ff10f0, 921px 1620px #ff10f0,
    476px 1858px #ff10f0, 658px 613px #ff10f0, 1171px 1363px #ff10f0,
    1419px 283px #ff10f0, 1037px 731px #ff10f0, 503px 663px #ff10f0,
    1562px 463px #ff10f0, 383px 1197px #ff10f0, 1171px 1233px #ff10f0,
    876px 1768px #ff10f0, 856px 1615px #ff10f0, 1375px 1924px #ff10f0,
    1725px 918px #ff10f0, 952px 119px #ff10f0, 768px 1212px #ff10f0,
    992px 1462px #ff10f0, 1929px 717px #ff10f0, 1947px 755px #ff10f0,
    1818px 1123px #ff10f0, 1896px 1672px #ff10f0, 460px 198px #ff10f0,
    256px 271px #ff10f0, 752px 544px #ff10f0, 1222px 1859px #ff10f0,
    1851px 443px #ff10f0, 313px 1858px #ff10f0, 709px 446px #ff10f0,
    1546px 697px #ff10f0, 674px 1155px #ff10f0, 1112px 130px #ff10f0,
    355px 1790px #ff10f0, 1496px 974px #ff10f0, 1696px 480px #ff10f0,
    1316px 1265px #ff10f0, 1645px 1063px #ff10f0, 1182px 237px #ff10f0,
    427px 1582px #ff10f0, 859px 253px #ff10f0, 458px 939px #ff10f0,
    1517px 1644px #ff10f0, 1943px 60px #ff10f0, 212px 1650px #ff10f0,
    966px 1786px #ff10f0, 473px 712px #ff10f0, 130px 76px #ff10f0,
    1417px 1186px #ff10f0, 909px 1580px #ff10f0, 1913px 762px #ff10f0,
    204px 1143px #ff10f0, 1998px 1057px #ff10f0, 1468px 1301px #ff10f0,
    144px 1676px #ff10f0, 21px 1601px #ff10f0, 382px 1362px #ff10f0,
    912px 753px #ff10f0, 1488px 1405px #ff10f0, 802px 156px #ff10f0,
    174px 550px #ff10f0, 338px 1366px #ff10f0, 1197px 774px #ff10f0,
    602px 486px #ff10f0, 682px 1877px #ff10f0, 348px 1503px #ff10f0,
    407px 1139px #ff10f0, 950px 1400px #ff10f0, 922px 1139px #ff10f0,
    1697px 293px #ff10f0, 1238px 1281px #ff10f0, 1038px 1197px #ff10f0,
    376px 1889px #ff10f0, 1255px 1680px #ff10f0, 1008px 1316px #ff10f0,
    1538px 1447px #ff10f0, 1186px 874px #ff10f0, 1967px 640px #ff10f0,
    1341px 19px #ff10f0, 29px 1732px #ff10f0, 16px 1650px #ff10f0,
    1021px 1075px #ff10f0, 723px 424px #ff10f0, 1175px 41px #ff10f0,
    494px 1957px #ff10f0, 1296px 431px #ff10f0, 175px 1507px #ff10f0,
    831px 121px #ff10f0, 498px 1947px #ff10f0, 617px 880px #ff10f0,
    240px 403px #ff10f0;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
